.header {
  -webkit-box-shadow: 0px 10px 30px rgb(209 213 223 / 50%);
  box-shadow: 0px 10px 30px rgb(209 213 223 / 50%);
  background-color: #fff;
  position: relative;
}
.header__top {
  border-bottom: 1px solid #e6e8ee;
}
.header__top,
.header__bottom {
  padding: 17px 0;
}
.header__top-group {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header__top__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 90px;
  max-width: 90px;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  line-height: 19px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__top-list {
  display: flex;
  align-items: center;
}
.header__top__link img {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 24px;
}
.header__top__link span {
  line-height: 1.5;
}

.cart_count {
  position: absolute;
  top: 0;
  right: 23px;
  font-size: 11px;
  background-color: #008dff;
  border-radius: 50px;
  height: 16px;
  line-height: 16px;
  color: #fff;
  min-width: 16px;
  text-align: center;
  padding: 0 5px;
  display: inline-block;
  vertical-align: top;
}
.header__top__link:hover {
  color: #008dff;
}
.header__top__link:hover img {
  -webkit-filter: invert(70%) sepia(70%) saturate(7400%) hue-rotate(188deg)
    brightness(99%) contrast(109%);
  filter: invert(70%) sepia(70%) saturate(7400%) hue-rotate(188deg)
    brightness(99%) contrast(109%);
}
.header__search {
  height: 40px;
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}
.header__search .form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: calc(100% - 1.5rem);
  padding: 0 10px;
  height: 100%;
}
.header__search .form-search input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  z-index: 2;
  padding: 5px 10px;
  color: #008dff;
  line-height: 16px;
  border: 2px solid #008dff;
  border-radius: 10px;
  outline: none;
}
.header__search__btn {
  margin-left: -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  border-radius: 0 10px 10px 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__top__link--lang {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header .header__top-group .header__top-list .header__top__link.h-lang {
  max-width: 70px;
  min-width: 70px;
}

.lang-dropdown .dropdown-menu {
  min-width: 7rem;
  padding: 16px 0;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 10px 30px rgb(209 213 223 / 50%);
  box-shadow: 0px 10px 30px rgb(209 213 223 / 50%);
}
.header .lang-dropdown .dropdown-menu li a {
  color: #000;
  text-decoration: none;
}

.dropdown-menu.cart__modal {
  width: 400px;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 0px 10px 30px rgb(209 213 223 / 50%);
  box-shadow: 0px 10px 30px rgb(209 213 223 / 50%);
  position: absolute !important;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transform-origin: calc(100% - 30px) 0;
  transform-origin: calc(100% - 30px) 0;
  display: block;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  padding: 0;
  top: 100% !important;
  left: auto !important;
  right: 0;
}
.dropdown-menu.cart__modal .cart-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.dropdown-menu.cart__modal .cart-wrapper .cart__modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 24px;
    padding-top: 16px;
    padding-bottom: 12px;
    background: rgba(223,241,255,.44);
}
.dropdown-menu.cart__modal .cart-wrapper .cart__modal-footer .cart__modal-total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
}
.dropdown-menu.cart__modal .cart-wrapper .cart__modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 24px;
    padding-top: 16px;
    padding-bottom: 12px;
    background: rgba(223,241,255,.44);
}
.dropdown-menu.cart__modal .cart-wrapper .cart__modal-footer .cart__modal-total-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.dropdown-menu.cart__modal .cart-wrapper .cart__modal-footer .cart__modal-total-buttons a {
    width: 100%;
    padding: 14px 20px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}
.dropdown-menu.cart__modal .cart-wrapper .cart__modal-footer .cart__modal-total-buttons a:last-child {
    margin-bottom: 0;
}
.dropdown-menu.cart__modal .cart-wrapper .cart__modal-footer .cart__modal-total-buttons a {
    width: 100%;
    padding: 14px 20px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}
.header .header__top-group .header__search .form-search .header__search__btn img {
    margin-right: 2px;
    height: 19px;
    margin-bottom: 4px;
}
.cart_dropdown:hover .dropdown-menu.cart__modal{
    transform: scale(1) !important;
}

.instant__results {
    display: none;
    position: absolute;
    width: 100%;
    top: 42px;
    right: 0;
    z-index: 99999;
    background: #fff;
    -webkit-box-shadow: 0px 10px 30px rgb(209 213 223 / 50%);
    box-shadow: 0px 10px 30px rgb(209 213 223 / 50%);
    border-radius: 10px;
    overflow-x: hidden;
}

 /* bottom */
 .header .header__bottom .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header .header__bottom .header__nav .header__nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: #282830;
    line-height: 19px;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
.header .header__bottom .header__nav .header__nav__link:hover {
    text-decoration: none;
    color: #008dff;
}
.hamburger-small {
    margin-right: 5px;
    transition: all .3s ease-in-out ;
}
.hamburger {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 3px;
   margin-right: 5px;
    justify-content: center;

    transition: all .3s ease-in-out ;
}
.hamburger__item {
    width: 20px;
    height: 2px;
    -webkit-transition: .3s;
    transition: all .3s ease-in-out ;
    border-radius: 10px;
    background-color: #008dff;
}
.hamburger.open .burger-2 {
    transform: translateX(-20px);
    background: transparent;
}
.hamburger.open .burger-1 {
    transform: rotate(45deg) translate(2px, 4px);
}
.hamburger.open .burger-3 {
    transform: rotate(-45deg) translate(3px, -5px);
}

/* 
Mega menu */

.mega__menu {
    position: absolute;
    top: 58px;
    left: 0;
    z-index: -100;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.mega__menu .mega__menu-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    min-height: 500px;
    max-height: 550px;
}
.mega__menu .mega__menu-inner .mega__menu-left {
    scrollbar-color: #d8d8d8 #fff;
    scrollbar-width: thin;
}

.mega__menu .mega__menu-inner .mega__menu-left {
    scrollbar-face-color: #d8d8d8;
    scrollbar-track-color: #fff;
}
.mega__menu .mega__menu-inner .mega__menu-left {
    width: 350px;
    min-width: 210px;
    background-color: #f8f8f8;
    overflow-y: auto;
    padding-top: 16px;
    padding-bottom: 10px;
}
.mega__menu .mega__menu-inner .mega__menu-left .mega__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mega__menu .mega__menu-inner .mega__menu-left .mega__menu-list .tab-open:hover, .mega__menu .mega__menu-inner .mega__menu-left .mega__menu-list .tab-open.opened {
    background-color: #fff;
    color: #008dff;
}
.mega__menu .mega__menu-inner .mega__menu-left .mega__menu-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    color: #282830;
    line-height: 19px;
    padding-left: 37px;
    padding-right: 15px;
    position: relative;
}

.mega__menu .mega__menu-inner .mega__menu-right {
    scrollbar-color: #d8d8d8 #fff;
    scrollbar-width: thin;
}
.mega__menu .mega__menu-inner .mega__menu-right {
    scrollbar-face-color: #d8d8d8;
    scrollbar-track-color: #fff;
}
.mega__menu .mega__menu-inner .mega__menu-right {
    background: #fff;
    width: 100%;
    overflow: auto;
    padding: 15px 0 0 40px;
}

.mega__menu .mega__menu-inner .mega__menu-right .tab-content.tab-active {
    display: block;
}

.mega__menu .mega__menu-inner .mega__menu-right .tab-content {
    display: none;
}

.mega__menu .mega__menu-inner .mega__menu-right .mega__menu-right-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}
.mega__menu .mega__menu-inner .mega__menu-right .mega__menu-right-inner .mega__menu-content {
    width: 100%;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 24px;
    -webkit-column-gap: 24px;
    column-gap: 24px;
}
.mega__menu .mega__menu-inner .mega__menu-right .mega__menu-right-inner .mega__menu-content .mega__menu-item {
    display: inline-block;
    width: 100%;
    line-height: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.mega__menu .mega__menu-inner .mega__menu-right .mega__menu-right-inner .mega__menu-content .mega__menu-item .menu__item-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #282830;
    line-height: 24px;
    margin-bottom: 16px;
}

.mega__menu .mega__menu-inner .mega__menu-right .mega__menu-right-inner a {
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}

.mega__menu.active {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    z-index: 100;
    visibility: visible;
}