.download__app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background: #008dff;
}
.download__app .app-img {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 250px;
}
.download__app .app-img img {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    max-width: 100%;
    height: auto;
}
.download__app .app-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.download__app .app-content .download__app-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.download__app .app-content .download__app-header .logo {
    margin-bottom: 20px;
}
.download__app .app-content .download__app-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.download__app .app-content .download__app-footer .app-link {
    display: block;
}
.download__app .app-content .download__app-footer .app-link img {
    max-width: 100%;
}
.download__app .app-content .download__app-footer .app-link+.app-link {
    margin-left: 30px;
}
.download__app .app-content .download__app-header p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #fff;
}

.features .features__list {
    background-color: #fff;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 25px 50px;
    -webkit-box-shadow: 0px 10px 30px rgb(209 213 223 / 50%);
    box-shadow: 0px 10px 30px rgb(209 213 223 / 50%);
}
.features .features__list .feature__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.features .features__list .feature__item .feature__img {
    width: 50px;
}
.features .features__list .feature__item .feature__text {
    margin-left: 24px;
}
.features .features__list .feature__item .feature__text h5 {
    font-size: 16px;
    font-weight: 500;
    color: #282830;
    line-height: 19px;
    margin-bottom: 4px;
}

@media (min-width: 1200px) {
    .features .features__list .feature__item .feature__text p {
    width: 180px;
}
}


.features .features__list .feature__item .feature__text p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #858997;
}

.footer .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
}
.footer .footer__links strong {
    color: #fff;
    margin-bottom: 24px;
    font-size: 18px;
    color: #fff;
    line-height: 24px;
}
.footer .footer__links a {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 19px;
    margin-bottom: 12px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.footer .footer__links a:hover {
    text-decoration: none;
    color: #fff;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}
.footer {
    padding-top: 42px;
    padding-bottom: 27px;
    background-color: #008dff;
    position: relative;
}
.footer .footer__bottom {
    border-top: 0.2px solid rgba(255,255,255,.4);
    border-bottom: 0.2px solid rgba(255,255,255,.4);
    margin-top: 20px;
    padding: 12px 0;
}
.footer .footer__bottom .footer__social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer .footer__bottom .footer__social__list strong {
    color: #fff;
    margin-right: 16px;
}
.footer .footer__bottom .footer__social__list a {
    color: #fff;
    font-size: 16px;
    margin-right: 16px;
}
.footer .footer__bottom .footer__pay__list img {
    width: 55px;
    max-height: 32px;
}
.site__creator {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.footer .responsive__footer {
    display: none;
}
@media (max-width: 767px) {
    .footer .responsive__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
}
